@model IEnumerable<Projeto_Acoes.Models.Acao>

@{
    ViewData["Title"] = "Index";
}

<h1 class="fw-bolder">Bolsa</h1>

<p>
    <a asp-action="Create" class="btn btn-success shadow">Comprar ações</a>
</p>
<table class="table shadow">
    <thead class=" ">
        <tr class="">
            <th class="">
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="align-middle">
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa)
            </td>

            <td>
                R$ @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AcaoId" class="btn btn-outline-success">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.AcaoId" class="btn btn-outline-warning">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.AcaoId" class="btn btn-outline-danger">Vender</a>
            </td>
        </tr>
}
    </tbody>
</table>
<h2 class="text-center fw-bolder m-4"> Tabela de ações </h2>
<div class="row border p-3 shadow rounded">
    @foreach (var item in Model)
    {
        <div class="col-12 col-lg-2 ">
            <div class="  p-3 CartaoAcao" >
                <img class="card-img-top rounded" src="@Html.DisplayFor(modelItem => item.Logo)" alt="Imagem de capa do card">
                <div class="card-body text-center">
                    <h5 class="card-title fw-bolder">@Html.DisplayFor(modelItem => item.Codigo)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Empresa)</p>
                    <p class="card-text fw-bolder text-success">R$ @Html.DisplayFor(modelItem => item.Valor)</p>
                    <a asp-action="Details" asp-route-id="@item.AcaoId" class="btn btn-success">Informações</a>
                </div>
            </div>
        </div>

    }
</div>